---
layout: layout.liquid
title: 11ty Boilerplate
---

<div x-data="{ weather: 'uncertain at this stage' }">

    The weather is <span x-text="weather"></span>

    <button
        x-on:click="weather = await $fetchjson('https://expensive-crow-sarong.cyclic.cloud/some_json', jsonItem='weather')"
    >Click me to change the weather</button>

</div>

<div x-data="{ weather: 'uncertain at this stage' }">

    The weather is <span x-text="weather"></span>

    <button
        x-on:click="weather = await $fetchjson('https://expensive-crow-sarong.cyclic.cloud/some_json', jsonItem='weather')"
    >Click me to change the weather</button>

</div>